{{#with data}}

  <div class='card'>
    <img class='card_photo' src='{{photo}}' />

    <h3 class='featured_heading'>{{heading}}</h3>
    <p class='featured_info'>{{info}}</p>
    <a
      href='{{linkUrl}}'
      class='featured_text'
    >{{linkText}}</a>

  </div>
{{/with}}